
.navtop {
	background-color: #2f3947;
	width: 100%;


}
.row{
	justify-content: space-around;
}

.navtop div {
	display: flex;

	margin: 0 auto;
	width: 100%;
padding-top: 0.5%;
padding-bottom: 0.5%;
	color: #c1c4c8;
}
h3, .navtop div a {
	display: inline-flex;
	align-items: center;

}
h3 {
	flex: 1;

	padding: 0;
	margin: 0;

	font-weight: normal;
}
.navtop div a {
	padding: 0 ;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding:  8px;
}
.navtop div a:hover {
	color: #eaebed;
}
body {
	background-color: #f3f4f7;
	width:100%;


}  @media (max-width:675px) {
	.content.navtop{
  font-size:35px;
	}

}
.content {
	width: 85%;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}

.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
input.btn.btn-primary{
background-color:white;
color: #4a536e;
border-color: #4a536e;
border: 1.5px solid;
}
input.btn.btn-primary:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #4a536e;
border: none;

}
